thead,
tbody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

tr {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

th,
td {
    width: 20%;
}

th {
    font-size: 18px;
}

td img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}